{% extends 'helpdesk/base.html' %}
{% block container %}

    <h1 class="h4 text-center my-5">Заявки ваших отделов</h1>

    <div class="d-flex justify-content-center mb-4">
        <form method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-light {% if status == 'active_requests' %}active{% endif %}"
                   role="button" data-mdb-toggle="button"
                   value="Активные заявки">
            <input hidden name="page_status" value="active_requests">
        </form>
        <form method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-light {% if status == 'closed_requests' %}active{% endif %}"
                   role="button" data-mdb-toggle="button" aria-pressed="true"
                   value="Закрытые заявки">
            <input hidden name="page_status" value="closed_requests">
        </form>
    </div>

    {% if current_requests %}
        {% for req in current_requests %}
            <!-- Block started -->
            <div class="card mb-4" style="max-width: 50%; margin: 0 auto;">
                <div class="card-body">
                    <div class="card ">
                        <div class="card-header">
                            <a href="/requests/{{ req.id }}/" type="button" class="btn btn-link">
                                Заявка номер: {{ req.id|stringformat:"04d" }}
                            </a>
                        </div>
                        <div class="card-body">
                            <form method="post" action="{% url 'close' %}">
                                {% csrf_token %}
                                <h5 class="card-title">{{ req.title }}</h5>
                                <p class="card-text">{{ req.description }}</p>
                                <button type="button" class="btn btn-secondary mr-1" disabled>
                                    Статус заявки: {{ req.get_status_display }}
                                </button>
                                <button type="button" class="btn btn-dark mx-1" disabled>
                                    Сообщения: {{ req.comments.count }}
                                </button>
                                {% if status == 'active_requests' %}
                                    <input type="submit" class="btn btn-outline-danger float-right"
                                           value="Закрыть заявку">
                                    <input hidden name="request_id" value={{ req.id }}>
                                    <input hidden name="current_url" value={{ request.path }}>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Block Finished -->
        {% endfor %}
    {% elif status == 'active_requests' %}
        <h1 class="h5 text-center my-5">В отделе нет активных заявок </h1>
    {% elif status == 'closed_requests' %}
        <h1 class="h5 text-center my-5">В отделе нет закрытых заявок </h1>
    {% endif %}

{% endblock %}
