<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HelpDesk</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

    <header class="container mt-3">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">HelpDesk</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/all/">Мои заявки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/request/">Создать заявку</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/all/">Активные заявки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/all/">Новые завяки</a>
                    </li>
                </ul>
            </div>
            <span class="navbar-text d-sm-none d-lg-block">
                <a href="/">Вход</a>
            </span>
        </nav>
    </header>


    <h1 class="h1 text-center mx-auto mt-4 py-5"><strong>Техническая поддержка <br>HelpDesk</strong></h1>

    <h2 class="h5 text-center mb-5">Ваши последние заявки</h2>


    <!-- Block started -->
    <div class="card mb-4" style="max-width: 50%; margin: 0 auto;">
        <div class="card-body">
            <div class="card ">
                <div class="card-header">
                    <button type="button" class="btn btn-link">
                        Заявка номер: 0001
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Не работает ничего</h5>
                    <p class="card-text">Спаси сохрани все горит ебать</p>
                    <button type="button" class="btn btn-secondary mr-1" disabled>
                        Статус заявки: новая
                    </button>
                    <button type="button" class="btn btn-dark mx-1" disabled>
                        Сообщения: 2
                    </button>
                    <button type="button" class="btn btn-outline-danger float-right">
                        Закрыть заявку
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Block Finished -->

    <!-- Can remove -->
    <div class="card mb-4" style="max-width: 50%; margin: 0 auto;">
        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    <button type="button" class="btn btn-link">
                        Заявка номер: 0002
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Все пиздец</h5>
                    <p class="card-text">Все пропало</p>
                    <button type="button" class="btn btn-secondary mr-1" disabled>
                        Статус заявки: закрыта
                    </button>
                    <button type="button" class="btn btn-dark mx-1" disabled>
                        Сообщения: 72
                    </button>
                    <button type="button" class="btn btn-outline-danger float-right">
                        Закрыть заявку
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4" style="max-width: 50%; margin: 0 auto;">
        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    <button type="button" class="btn btn-link">
                        Заявка номер: 0003
                    </button>
                </div>
                <div class="card-body">
                    <h5 class="card-title">а?</h5>
                    <p class="card-text">че</p>
                    <button type="button" class="btn btn-secondary mr-1" disabled>
                        Статус заявки: просмотрена
                    </button>
                    <button type="button" class="btn btn-dark mx-1" disabled>
                        Сообщения: 0
                    </button>
                    <button type="button" class="btn btn-outline-danger float-right">
                        Закрыть заявку
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Can remove -->


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
