{% extends 'helpdesk/base.html' %}
{% block container %}

    <h1 class="h1 text-center mx-auto mt-4 py-5"><strong>Техническая поддержка <br>HelpDesk</strong></h1>
    {% if request.user.is_active %}
        <h2 class="h5 text-center mb-5">Ваши последние заявки</h2>


        {% for request in request.user.requests.all %}
            <!-- Block started -->
            <div class="card mb-4" style="max-width: 50%; margin: 0 auto;">
                <div class="card-body">
                    <div class="card ">
                        <div class="card-header">
                            <a href="/requests/{{ request.id }}/" type="button" class="btn btn-link">
                                Заявка номер: {{ request.id|stringformat:"04d" }}
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ request.title }}</h5>
                            <p class="card-text">{{ request.description }}</p>
                            <button type="button" class="btn btn-secondary mr-1" disabled>
                                Статус заявки: новая
                            </button>
                            <button type="button" class="btn btn-dark mx-1" disabled>
                                Сообщения: {{ request.comments.count }}
                            </button>
                            <button type="button" class="btn btn-outline-danger float-right">
                                Закрыть заявку
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Block Finished -->
        {% endfor %}
    {% else %}
        <h2 class="h5 text-center my-3">Чтобы пользоваться системой, необходимо <a href="{% url 'login' %}">войти</a> в
            систему.</h2>
        <h2 class="h6 mt-2 text-center">Нет аккаунта? <a href="{% url 'register' %}">Зарегистрируйтесь!</a></h2>
    {% endif %}

{% endblock %}
