{% extends 'helpdesk/base.html' %}
{% block container %}

    <h1 class="h4 text-center my-5">Ваши заявки</h1>

    {% for req in request.user.requests.all %}
        <!-- Block started -->
        <div class="card mb-4" style="max-width: 50%; margin: 0 auto;">
            <div class="card-body">
                <div class="card ">
                    <div class="card-header">
                        <a href="/requests/{{ req.id }}/" type="button" class="btn btn-link">
                            Заявка номер: {{ req.id|stringformat:"04d" }}
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ req.title }}</h5>
                        <p class="card-text">{{ req.description }}</p>
                        <button type="button" class="btn btn-secondary mr-1" disabled>
                            Статус заявки: новая
                        </button>
                        <button type="button" class="btn btn-dark mx-1" disabled>
                            Сообщения: {{ req.comments.count }}
                        </button>
                        <button type="button" class="btn btn-outline-danger float-right">
                            Закрыть заявку
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Block Finished -->
    {% endfor %}


{% endblock %}
