{% extends 'helpdesk/base.html' %}
{% block container %}

    <h1 class="h4 text-center my-5">Ваши заявки</h1>

    <div class="d-flex justify-content-center mb-4">
        <a href="#" class="btn btn-light active" role="button" data-mdb-toggle="button">Активные заявки</a>
        <a href="#" class="btn btn-light" role="button" data-mdb-toggle="button" aria-pressed="true">Закрытые заявки</a>
    </div>

    {% for req in active_requests %}
        <!-- Block started -->
        <div class="card mb-4" style="max-width: 50%; margin: 0 auto;">
            <div class="card-body">
                <div class="card ">
                    <div class="card-header">
                        <a href="/requests/{{ req.id }}/" type="button" class="btn btn-link">
                            Заявка номер: {{ req.id|stringformat:"04d" }}
                        </a>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <h5 class="card-title">{{ req.title }}</h5>
                            <p class="card-text">{{ req.description }}</p>
                            <button type="button" class="btn btn-secondary mr-1" disabled>
                                Статус заявки: {{ req.get_status_display }}
                            </button>
                            <button type="button" class="btn btn-dark mx-1" disabled>
                                Сообщения: {{ req.comments.count }}
                            </button>
                            <input type="submit" class="btn btn-outline-danger float-right" value="Закрыть заявку">
                            <input hidden name="request_id" value={{ req.id }}>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Block Finished -->
    {% endfor %}

{% endblock %}
