{% extends 'helpdesk/base.html' %}
{% block container %}

    <main class="container mt-3">
        <!-- HERO -->
        <div class="row mt-5">
            <div class="col-10 col-md-6 offset-1 offset-md-3">
                <div class="card mb-3">
                    <div class="card-body text-center pt-5">
                        <h2 class="h3 card-title mt-2 mb-4">{{ request_object.title }}</h2>
                        <p class="my-2">Заявка № {{ request_object.id|stringformat:"04d" }}</p>
                        <p class="my-2">
                            Создатель: {{ request_object.owner.first_name }} {{ request_object.owner.last_name }}</p>
                        <p class="my-2">Статус заявки: {{ request_object.get_status_display }}</p>
                        {% if request_object.departments.all %}
                            <p class="my-2">Отделы:
                                {% for department in request_object.departments.all %}
                                    {{ department.title }} {% endfor %}</p>
                        {% endif %}
                    </div>
                    <hr/>
                    <div class="card-body mx-5">
                        <h5>{{ request_object.description }}</h5>
                    </div>
                </div>
                {% if request_object.status != 'closed' %}
                    <form method="post" action="{% url 'close' %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-outline-danger float-right" value="Закрыть заявку">
                        <input hidden name="request_id" value={{ request_object.id }}>
                        <input hidden name="current_url" value={{ request.path }}>
                    </form>
                {% endif %}
            </div>
        </div>
    </main>

    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <div class="headings d-flex justify-content-between align-items-center mb-3">
                    <h5>Комментарии ({{ request_object.comments.count }})</h5>
                </div>
                <div class="card p-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="user d-flex flex-row align-items-center"><span><small
                                class="font-weight-bold text-primary">Игорь Пигорь:</small> <small
                                class="font-weight-bold">Hmm, This poster looks cool</small></span>
                        </div>
                        <small>2 days ago</small>
                    </div>
                    <div class="action d-flex justify-content-between mt-2 align-items-center">
                        <button class="btn btn-outline-danger btn-sm"><small>Удалить</small></button>
                        <div class="icons align-items-center"><i class="fa fa-star text-warning"></i> <i
                                class="fa fa-check-circle-o check-icon"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br>


{% endblock %}
